<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Sign Up</title>
</head>

<body >
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-9 bg-white p-5">
                <div class="mb-3 text-center">
                    <h1>Sign up your CatCom account </h1>
                </div>
                <!--Form for creating a new item-->
                <form action="#" th:action="@{/user/save}" th:object="${ccuser}" method="post" name="new-user" class="border p-5 mx-auto w-50">
                    <!--Display for users-->
                    <div class="form-group row">
                        <label class="col-4" for="item_name">Username:</label>
                        <input name="user_name" type="text" th:field="*{username}" required />
                    </div>
                    <div class="form-group row">
                        <label class="col-4" for="category">Password:</label>
                        <input name="user_name" type="text" th:field="*{passwordHash}" required />
                    </div>
                    <div class="form-group row">
                        <label class="col-4" for="role">You are a:</label>
                        <select name="role" required>
                            <option value="CAT">Cat</option>
                            <option value="PARENT">cat Parent</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-end">
                        <input type="submit" name="save-item" />
                        <input type="reset" />
                    </div>
                </form>
            </div>
        </div>
        </form>
</body>

</html>